<div fxLayout="column">
    <h2 fxLayoutAlign="center">Recherche</h2>

    <form (ngSubmit)="onSubmit()" class="researchArea" fxLayout="row" fxLayoutAlign="start center">

        <mat-form-field appearance="fill">
            <mat-label>Type de recherche</mat-label>
            <mat-select [formControl]="typeResearch">
                <mat-option value="artist">Artist</mat-option>
                <mat-option value="album">Album</mat-option>
                <mat-option value="playlist">Playlist</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>

        <mat-form-field hintLabel="Max 60 characters" appearance="fill">
            <mat-label>Enter some input</mat-label>
            <input matInput #input maxlength="60" [formControl]="valueResearch">
            <mat-hint align="end">{{input.value?.length || 0}}/60</mat-hint>
        </mat-form-field>

        <button mat-fab color="primary" aria-label="Example icon button with a search icon"
                [disabled]="typeResearch.invalid || valueResearch.invalid">
            <mat-icon>search</mat-icon>
        </button>

    </form>

    <mat-divider></mat-divider>

    <div>
        <h2>Recherche local</h2>
    </div>

    <mat-divider></mat-divider>

    <div class="searchApi">
        <h2>Recherche API Spotify</h2>
        <div *ngIf="resultSearch">
            <div>nombre de réponse : {{ resultSearch.length || '0' }}</div>
            <div *ngFor="let res of resultSearch">
                <div class="resultSearch" fxLayout="row">
                    <div fxFlex="20" fxLayoutAlign="center center">
                        <img *ngIf="res.images[0]" src="{{ res.images[1].url }}" alt="photo of {{ res.name }}">
                        <span *ngIf="!res.images[0]" class="material-icons">image_not_supported</span>
                    </div>
                    <div fxFlex="70">
                        <li>id : {{ res.id }}</li>
                        <li>name : {{ res.name }}</li>
                        <li>popularity : {{ res.popularity }}</li>
                        <li>genres : {{ res.genres }}</li>
                        <li>followers : {{ res.followers.total | number }}</li>
                    </div>
                    <div fxLayoutAlign="center center">
                        <button mat-raised-button color="primary">Editer</button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>

</div>