.researchArea{
    mat-form-field{
        margin-left: 10px;
    }
    button{
        margin-left: 20px;
    }
    margin-bottom: 3em;;
}

mat-divider{
    width: 90%;
    // margin: 3em 0 0 5%;
    margin-left: 5%;
}

.searchApi{
    margin: 1em 0 0 1em;
}
.resultSearch{
    margin: 1em 0;
}