.respectSize{
    word-break: break-word;
}
.artistArea{
    margin-bottom: 3em;
}
.positionIcons{
    margin-left: 1em;
}
.accordionEditionSpotify{
    width: 90%;
    margin: 0% 5%;
}
.positionTitleArea{
    margin-left: 1em;
}
.infoArtistEdition{
    margin-left: 10em;
}